nav{
  width: 100%;
 height: 100px;
  background-color: blueviolet;
}
.row{
    margin-right: 50px;
}
.col1{
    float: right;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
  
}
.col2{
   
  
    float: right;
    width: 100px;
    height: 100px;
    background-color: rgb(127, 136, 255);
}
a{
    text-decoration: none;
    margin:20px;
    line-height: 100px;
   

}
.col1:hover{

    background-color: brown;
    color: blue;
}
.col2:hover{

    background-color: goldenrod;
    color: rosybrown;
}
.col3{
    float: left;
    width: 100px;
    height: 100px;
    background-color: rgb(127, 255, 202);

}
.col4{
    float: left;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 127, 170);
    
}
.col5{
  float: left;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 200, 127);
}

.new{
    margin-left: 50px;
}
.col5:hover{
    background-color: beige;
    color: cadetblue;
}
.col4:hover{
    background-color: rgb(220, 224, 245);
    color: rgb(22, 23, 23);
}
.col3:hover{
    background-color: rgb(93, 93, 82);
    color: rgb(148, 168, 169);
}
.container{
    width: 300px;
    height: 500px;
    border: 2px solid red;
}
.box1{
    width: 100px;
    height: 100px;
    border: solid 2px black;
}
.box2{
    width: 100px;
    height: 100px;
    border: solid 2px yellow;
}
.box3{
    width: 100px;
    height: 100px;
    border: solid 2px green;
}