/* .container{
   display: flex;
   margin-left: 30px;
   float: 
}
.col{
   flex-wrap: wrap;
   float: left  ;
   width: 50px;
   height: 40px;
} */
.first{
   background-color: aqua;
}
.container{
    margin-left: 100px;
    display: flex; 

    
}
.col{
   
   margin-top: 40px;
   display: inline-block;
    padding: 20px;
    line-height: 30px;
}
section>h1{
   padding-left:  120px;
}
 .mother{
    display: flex;
    margin-top: 70px;
    margin-left: 100px;
 }
 .secrow{
    display: inline-block;
    padding: 20px;
    line-height: 30px;
 }
.third{
   margin-top: 100px;
}

.second{
   display: flex;
   margin-left: 150px;
   
   
}
.box{
   display: inline-block;
   border: 2px solid blue;
   text-align: center;
   height: 400px;
   width: 500px;
   margin: 30px;

}
.btn{
   width: 100px;
   height: 80px;
   background-color: aqua;
 
}
.sub{
   width: 200px;
   height: 80px;
   background-color: aquamarine;
}
.box>h1{
   font-size: 50px;
}